* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
}

nav {
    background-color: #1b1b1b;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 8px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background-color: #1b1b1b ;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: white;
    line-height: 70px;
    font-size: 30px;
    padding: 8 15px;
    transition: color 0.1s;
}

nav ul li a:hover {
    color: teal;
    transition: color 0.1s;
}

body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sweinfo {
    text-align: center;
    font-family: sans-serif;
    padding-top: 350px;
}
